body {
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #394263;
    font-size: 13px;
    background-color: #222;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.wrapper {
    width: 100%;
    padding: 0;
    margin: 0 auto;
    overflow-x: hidden;
    background-color: #394263;
}

#page-header {
    overflow: hidden;
    max-height: 186px;
}

.header-section-title {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.8);
    width: 100%;
    padding: 0px 0px 20px 20px;
    color: #fff;
}

#page-content {
    background-color: #eaedf1;
    padding: 20px 20px;
    min-height: 720px;
}

.breadcrumb {
    border-radius: 0px;
    margin-bottom: 0px;
    border-top: 1px solid #dbe1e8;
    border-bottom: 1px solid #dbe1e8;
}

.panel {
    border-radius: 0px;
}

.panel-heading {
    background-color: #394263;
    color: #fff;
    font-size: 14px;
    border-radius: 0px;
    padding: 0;
    margin-bottom: 5px;
}

.panel .panel-heading .nav-tabs {
    border-bottom: 0px;
}

.panel .panel-heading .nav-tabs > li > a {
    border-radius: 0;
    border: 0px;
    border-right: 1px solid #ddd;
    margin-right: 0;
    color: #fff;
    padding: 7px 12px;
}

.panel .panel-heading .nav-tabs > li > a:hover {
    color: #394263;
    background-color: #fff;
}

.panel .panel-heading .nav-tabs > li.active > a,
.panel .panel-heading .nav-tabs > li.active > a:hover,
.panel .panel-heading .nav-tabs > li.active > a:focus {
    color: #394263;
}

.panel hr {
    border: 0;
    border-bottom: 1px dashed #eaedf1;
}

.form-control {
    border-radius: 0;
}

#map-canvas:hover, input:hover, input:focus, input:active,
textarea:hover, textarea:focus, textarea:active,
select:hover, select:focus, select:active {
    border: 1px solid #333;
}

input[type=file] {
    border: 1px solid transparent;
}

input[type=file]:hover {
    border: 1px solid #ccdede;
}

.form-control-title {
    font-size: 18px;
    height: 42px;
}

.form-control-required {
    color: #662a2a;
}

.form-control-editable {
    width: 100%;
    display: inline-block;
    vertical-align: middle;
    padding: 6px 12px;
    min-height: 30px;
    background: #fafafa;
    color: #000;
    border: 1px solid #f0f0f0;
    font-weight: bold;
}

.form-control-editable:hover {
    border: 1px solid #333;
    background-color: #f7f7f7;
}

.form-control-editable-icon {
    display: none;
    right: 10px;
    padding: 6px;
    position: absolute;
    margin-top: -15px;
    color: #eee;
    background-color: #333;
}

.dropdown-menu {
    margin: 0;
}

.metro-box {
    display: block;
    transition: all .2s ease-out;
    margin-bottom: 15px;
    color: #fff;
    padding: 20px;
}

.metro-box:hover {
    transform: scale(1.03);
    box-shadow: #ccc 0px 3px 8px;
}

.metro-box a, .metro-box span {
    color: #eee;
}

.metro-box .fa {
    text-align: center;
    background: #eee;
    width: 64px;
    line-height: 64px;
    border-radius: 64px;
    display: inline-block;
    float: left;
    font-size: 44px;
}

.metro-box h1 {
    font-size: 26px;
    font-weight: bold;
    margin: 5px 0;
    color: #fff;
    display: block;
}

.metro-box h1 small {
    font-size: 16px;
    margin: 5px 0;
    display: block;
}

.color-autumn {
    background-color: #e67e22;
    color: #e67e22;
}

.color-spring {
    background-color: #27ae60;
    color: #27ae60;
}

.color-fire {
    background-color: #e74c3c;
    color: #e74c3c;
}

.color-amethyst {
    background-color: #af64cc;
    color: #af64cc
}

.color-tyrcis {
    background-color: #1bbae1;
}

.notification {
    z-index: 5000;
    position: absolute;
    width: 100%;
    display: none;
}

.notification .alert {
    border: none;
    border-radius: 0;
    color: #eee;
}

.notification .alert-success {
    background-color: #3e9d16
}

.notification .alert-danger {
    background-color: #9d1616;
}